<% title "#{@token.name}" %>

<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td>
				<strong>State</strong>
			</td>
			<td>
				<span class="label label-success">Viewed</span>
			</td>
		</tr>
		
		<tr>
			<td>
				<strong>Invoice Summary</strong>
			</td>
			<td>Splash page design</td>
		</tr>
		
		<tr>
			<td>
				<strong>Invoice Date</strong>
			</td>
			<td>2013 Aug 12</td>
		</tr>
		<tr>
			<td>
				<strong>Invoice Number</strong>
			</td>
			<td>IN-1249</td>
		</tr>
		<tr>
			<td>
				<strong>Due On</strong>
			</td>
			<td>
				<span class="text-error">2013 Aug 12 <em class="muted">(due for 20 days)</em></span>
			</td>
		</tr>
		<tr>
			<td>
				<strong>Client Details</strong>
			</td>
			<td>
				<a href="#" class="text-info" data-original-title="">Michel Gardner - </a>
				3371 East Neha Sjid Suite 100, Bangalore, KT, 932609, India 
			</td>
		</tr>
	</tbody>
</table>